<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta name="description" content="Mi primera página web">
    <meta name="keywords" content="HTML, CSS, JavaScript, TypeScript, Angular">
    <meta name="author" content="Sandra Requena">
    <title th:text="${titulo}"></title>
</head>
<body>
	<span th:text="${usuario.nombre}"></span>
	<span th:text="${usuario.apellido}"></span>
	<br>
	<span th:if="${usuario.email}" th:text="${usuario.email}"></span>
	<span th:if="!${usuario.email}">El usuario no tiene correo electrónico</span>
</body>
</html>